<body class="bg-light">
  </br>
  <div class="container">
    {{template "nav-a.html" .NavA}}
    <h3>Download:</h3>
  </div>
  </br>
  <div class="container">
    {{range .DirList}}
    <a class="btn btn-outline-primary" href="{{.Name}}" role="button">{{.Name}}</a> {{end}}
  </div>
  </br>
  <div class="container">
    <ol class="list-group">
      {{range .FList}}
      <li class="bg-light list-group-item">
        <div class="row">
          <div class="col"><a class="btn btn-light btn-sm btn-block text-left" href="{{.Dir}}/{{.Name}}" role="button">
                            <strong>{{.Index}}. {{.Name}}</strong></a></div>
          <div class="col-md-auto"><a class="btn btn-info btn-sm" href="{{.Dir}}/{{.Name}}" role="button" download>Download</a></div>
        </div>
      </li>
      {{end}}
    </ol>
  </div>
  {{template "body-footer.html" .}}
</body>
