<body class="bg-light">
    <div class="container">
        </br>
        {{template "nav-a.html" .NavA}}
        </br>
        <h3>Download:</h3>
        </br>
            <!--      {{if .T.txt1}}-->
            <!--      <div class="alert alert-primary alert-dismissible fade show" role="alert">-->
            <!--          <strong>Holy guacamole!</strong> You should check in on some of those fields below.-->
            <!--          <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--  <span aria-hidden="true">&times;</span>-->
            <!--</button>-->
            <!--      </div>-->
            <!--      {{end}}-->
            <ol class="list-group">
                {{range .FList}}
                <li class="bg-light list-group-item">
                    <div class="row">
                        <!--<div class="h6"><b>{{.Index}}. </b>{{.Name}}</div>-->
                        <!--<div class="col-1"><a class="btn btn-info btn-sm" href="#" role="button">{{.Index}}</a></div>-->
                        <!--<div class="col-1"><b>{{.Index}}.</b></div>-->
                        <!--<div class="h4 col-1"><span class="badge badge-secondary">{{.Index}}.</span></div>-->
                        <!--<div class="col"><div class="alert alert-secondary" role="alert">{{.Index}}. {{.Name}}</div></div>-->
                        <div class="col"><a class="btn btn-light btn-sm btn-block text-left" href="/download/{{.Name}}" role="button">
                            <strong>{{.Index}}. {{.Name}}</strong></a></div>
                        <div class="col-md-auto"><a class="btn btn-info btn-sm" href="/download/{{.Name}}" role="button" download>Download</a></div>
                    <!--<div class="alert alert-primary" role="alert">{{.Name}}</div>-->
                </div>
                </li>
                {{end}}
            </ol>
    </div>
    {{template "body-footer.html" .}}
</body>

</html>
