<body class="bg-dark">
  </br>
  <div class="container text-light">
    <img src="/img/bg-01.jpg" class="img-fluid" alt="Responsive image">
    {{template "nav-all.html" .NavAll}}
    <h3>Home</h3>
    <p>{{if .User}}<strong>{{.User}}</strong> | <a href="/logout.html">Logout</a> |
      {{else}} Not Logged in. <a class="btn btn-outline-primary btn-sm" href="/login.html">Login</a>{{end}} Visits: {{.Visits}}</p>
  </div>
  </br>
  <div class="container text-light">
    <div class="row">
      <div class="col-4">
        <div class="btn-group-vertical w-100">
          {{template "links-a.html" .Host}}
        </div>
      </div>
    </div>
    {{template "websocket-div.html" .}}
  </div>
    <div class="row">
  {{template "body-footer.html" .}}
</div>
</body>
