<body class="text-light bg-dark">
  </br>
  <div class="container">
    <img src="/img/bg-01.jpg" class="img-fluid mb-1" alt="Responsive image">
    {{template "nav-all.html" .NavAll}}
    <h3>Login</h3>
  </div>
  </br>
  <div class="container">
    <div class="form-group">
      <form action="login.html" method="post">
            Username:</br><input type="text" name="username">
          </br>
            Password:</br><input type="password" name="password">
            </br></br>
            <input type="submit" value="Login">
        </form>
    </div>
  </div>
  {{template "body-footer.html" .}}
</body>
