<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="text-transform: capitalize;" href="/home.html">home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="text-transform: capitalize;" href="/downloads.html">downloads</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="text-transform: capitalize;" href="/upload.html">upload</a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <div class="my-2 my-sm-0">{{if .}}<a class="btn btn-outline-primary" href="/logout.html">Logout: <strong>{{.}}</strong></a>
        {{else}}<a class="btn btn-outline-primary" href="/login.html">Login</a>{{end}}</div>
    </form>

  </div>
</nav>
