<diV>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>INFO:</strong> Arduino
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="mb-3">
    <button id="open-ard">Open</button>
    <button id="close-ard">Close</button>
    <!-- <input id="input" type="text" value="Hello world!"> -->
    <!-- <button id="send">Send</button> -->
  </form>
  <div id="output-ard"></div>
</div>
